<h1>EXPERIENCES</h1>
<h2><button><a href="/dreams/{{this.dreamId}}/experience/new">Add Experience</a></button></h2>
{{#each experiences}}
  <h2><a href="/dreams/{{this.dreamId}}/experiences/{{this.id}}">{{this.mainEmotion}}</a></h2>
  <small>{{this.description}}</small>
{{/each}}
